In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC

In [2]:
mydata=pd.read_csv("./Downloads/titanic/train.csv")
test=pd.read_csv("./Downloads/titanic/test.csv")
test_ids=test["PassengerId"]

In [3]:
mydata.shape

(891, 12)

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [5]:
mydata.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [6]:
mydata=mydata.drop('Cabin',axis=1)
mydata=mydata.drop('Ticket',axis=1)
mydata=mydata.drop('Fare',axis=1)
mydata=mydata.drop('Name',axis=1)
test=test.drop('Cabin',axis=1)
test=test.drop('Ticket',axis=1)
test=test.drop('Fare',axis=1)
test=test.drop('Name',axis=1)

In [7]:
median1=mydata["Age"].median()
mode1=mydata['Embarked'].mode().values[0]
print(mode1)

S

In [8]:
mydata['Age'].replace(np.nan,median1,inplace=True)
mydata['Embarked']=mydata['Embarked'].replace(np.nan,mode1)
test['Age'].replace(np.nan,median1,inplace=True)
test['Embarked']=mydata['Embarked'].replace(np.nan,mode1)

In [9]:
mydata.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [10]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Embarked     891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB

In [11]:
mydata['Sex']=mydata['Sex'].replace({1:'male',2:'female'})
mydata['Embarked']=mydata['Embarked'].replace({1:'S',2:'C',3:'Q'})
test['Sex']=test['Sex'].replace({1:'male',2:'female'})
test['Embarked']=test['Embarked'].replace({1:'S',2:'C',3:'Q'})

In [12]:
# onehotcoding
mydata=pd.get_dummies(mydata,columns=['Sex'])
mydata=pd.get_dummies(mydata,columns=['Embarked'])
test=pd.get_dummies(test,columns=['Sex'])
test=pd.get_dummies(test,columns=['Embarked'])
mydata.sample(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
379,380,0,3,19.0,0,0,0,1,0,0,1
140,141,0,3,28.0,0,2,1,0,1,0,0
485,486,0,3,28.0,3,1,1,0,0,0,1
189,190,0,3,36.0,0,0,0,1,0,0,1
20,21,0,2,35.0,0,0,0,1,0,0,1
289,290,1,3,22.0,0,0,1,0,0,1,0
52,53,1,1,49.0,1,0,1,0,1,0,0
317,318,0,2,54.0,0,0,0,1,0,0,1
744,745,1,3,31.0,0,0,0,1,0,0,1
357,358,0,2,38.0,0,0,1,0,0,0,1

In [13]:
X=mydata.drop(['Survived'],axis=1)
y=mydata['Survived']

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [15]:
#Logistic Regression
reg_model=LogisticRegression(max_iter=1000)
reg_model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [16]:
reg_model.score(X_train,y_train)

0.7991573033707865

In [17]:
reg_model.score(X_test,y_test)

0.7877094972067039

__SVC MODEL__

In [18]:

from sklearn.metrics import accuracy_score
clf=SVC(kernel='linear',C=2, gamma='auto')
clf.fit(X_train,y_train)

SVC(C=2, gamma='auto', kernel='linear')

In [19]:
clf.score(X_train,y_train)

0.7893258426966292

In [20]:
clf.score(X_test,y_test)

0.776536312849162

__KNN MODEL__

In [21]:

knn=KNeighborsClassifier(n_neighbors=5)#p=1 is man hattan distance and p=2 is euclidena which is default

In [22]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [23]:
knn.score(X_train,y_train)

0.702247191011236

In [24]:
knn.score(X_test,y_test)

0.5195530726256983

__DECISION TREE CLASSIFIER__

In [25]:

dtt=DecisionTreeClassifier(max_depth=3)
dtt.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [26]:
dtt.score(X_train,y_train)

0.8469101123595506

In [27]:
dtt.score(X_test,y_test)

0.776536312849162

__BAGGING MODEL__

In [28]:
from sklearn.ensemble import BaggingClassifier
bc=BaggingClassifier(n_estimators=12,base_estimator=dtt,max_samples=29)

In [29]:
bc.fit(X_train,y_train)
bc.score(X_train,y_train)

0.8132022471910112

In [30]:
bc.score(X_test,y_test)

0.7821229050279329

__BOOSTING MODEL__

In [31]:
from sklearn.ensemble import AdaBoostClassifier
ad1=AdaBoostClassifier(n_estimators=100,random_state=0)
ad1.fit(X_train,y_train)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [32]:
ad1.score(X_train,y_train)

0.8412921348314607

In [33]:
ad1.score(X_test,y_test)

0.7541899441340782

__GRADIENT BOOST MODEL__

In [34]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier(n_estimators=70,random_state=0)
gb.fit(X_train,y_train)
print(gb.score(X_train,y_train))
print(gb.score(X_test,y_test))

0.8806179775280899
0.776536312849162

__RANDOM FOREST CLASSIFIER__

In [35]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=10,random_state=0,max_features=9)
rf.fit(X_train,y_train)
print(rf.score(X_train,y_train))
print(rf.score(X_test,y_test))

0.976123595505618
0.7318435754189944

In [46]:
pred=clf.predict(X_test)

In [47]:
accuracy_score(y_test,pred)

0.776536312849162

In [48]:
submission_pred=clf.predict(test)

In [49]:
df=pd.DataFrame({"PassengerId":test_ids.values,
                "Survived": submission_pred,})

In [50]:
df.to_csv("submission.csv", index=False)